// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-votes__container {
  margin-top: 2rem;
}

.user-votes__header {
  color: black;
}
